.card{
    width: 95%;
    height: 400px;
    background-color: white;
    margin: auto;
    
    margin-bottom: 10%;
    border-radius: 6%;
}
.container{
    width: 40%;
    height: 100%;
    margin: auto;
    
}
.title{
    margin-top: 20%;
    margin-left: 4%;
    margin-bottom: 3%;
    color:white;
   
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.question{
    padding-top: 5% !important;
    padding-left: 5% !important;
}
.button{
    margin: 3px;
    
}